/*Implementation of the footer*/
footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    margin: 40px -25px 40px -25px;
    padding-left: 25px;
    padding-top: 15px;
}
    footer a {
        text-decoration: none;
        color: black;
    }
    footer div {
        margin-right: 170px;
        margin-bottom: 25px;
    }
    footer p {
        margin-top: -2px;
    }
    
/*Implementation of tablet version for device between 992px and 768px*/
@media all and (max-width: 992px) and (min-width: 768px) {
    footer div {
        margin-right: 100px;
    }
}
/*Implementation of device version for device smaller than 768px*/
@media all and (max-device-width:768px) {
    footer {
        height: 670px;
        margin-bottom: 50px;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 50px;
    }
        footer p {
            font-size: 1.8em;
        }
        footer h3 {
            font-size: 2.1em;
        }
}