/*Implementation of the banner, which contains the navigation menu and the logo*/
#entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
}
    #entete img {
        height: 30px;
    }
    #entete ul {
        display: flex;
        list-style: none;
    }
        #entete a {
            color: black;
            text-decoration: none;
            padding: 20px;
        }
            #entete a:hover {
                color: #0065FC;
                border-top: 1px solid #0065FC;
                padding-top: 15px;
            }
/*Implementation of the form and the small text above it*/
h1 + p {
    margin-top: -5px;
}
#formulaire {
    display: flex;
}
    #localisation {
        background-color: #F2F2F2;
        height: 35px;
        width: 35px;
        border-radius: 12px 0px 0px 12px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    #recherche {
        border: 1px solid #F2F2F2;
        font-size: 1.1em;
        font-weight: bold;
        width: 200px;
        padding-left: 5px;
    }
    #submit {
        background-color: #0065FC;
        border: none;
        border-radius: 0px 12px 12px 0px;
        color: #F2F2F2;
        width: 110px;
        font-size: 1em;
    }
    #submitmobile {
        display: none;
    }
/*Implementation of filters*/
#filtre {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9em;
}
    #filtre ul {
        list-style: none;
        display: flex;
        margin-left: -30px;
    }
        #filtre a {
            color: black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0px 12px 0px 0px;
            border: 3px solid #F2F2F2;
            border-radius: 35px;
        }
        #filtre li {
            margin: 0px 15px 0px 15px;
        }
        #filtre i {
            background-color: #DEEBFF;
            color: #0065FC;
            width: 43px;
            height: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            margin-right: 5px;
        }
            #filtre a:hover {
                background-color: #0065FC;
                color: #F2F2F2;
                border-radius: 25px;
            }      
/*Implementation of the last text of the header*/
#fin_entete {
    display: flex;
    align-items: center;
}
    #fin_entete i {
        border: 3px solid #F2F2F2;
        color: #0065FC;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*Implementation of tablet version for device between 992px and 768px*/
@media all and (max-width: 992px) and (min-width: 768px){
    #filtre {
        align-items: baseline;
        margin-top: -5px;
    }
    #filtre ul {
        flex-wrap: wrap;
    }
    #filtre li {
        margin-top: 15px;
    }
}
/*Implementation of device version for device smaller than 768px*/
@media all and (max-device-width:768px) {
    #entete {
        flex-direction: column;
        margin-bottom: 60px;
    }
        #entete img {
            margin: 25px;
            height: 70px;
        }
        nav {
            margin-left: -25px;
            margin-right: 25px;
            text-align: center;
        }
        nav li {
            text-align: center;
            font-size: 2.6em;
        }
        #entete a {
            padding: 0px 98px 10px 98px;
            border-bottom: 3px solid #F2F2F2;
        }
        #entete ul {
            padding-inline-start: 0px;
        }
        #entete a:hover {
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }
    #formulaire  {
        margin-top: 60px;
    }
        #localisation {
            width: 100px;
            height: 100px;
            font-size: 250%;
        }
        #recherche {
            width: 60%;
            font-size: 3em;
            padding-left: 15px;
        }
        #submit {
            display: none;
        }
        #submitmobile {
            display: initial;
            background-color: #0065FC;
            color: #F2F2F2;
            width: 100px;
            height: 100px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 250%;
        }
    #filtre {
        flex-direction: column;
        margin-top: 60px;
    }
        #filtre h2 {
            margin-bottom: 15px;
        }
        #filtre ul {
            margin-top: 0px;
            padding-left: 10px;
        }
            #filtre a {
                font-size: 3em;
                font-weight: bold;
                padding: 20px;
                border-radius: 55px;
                border: 5px solid #F2F2F2;
            }
            #filtre i {
                width: 100px;
                height: 100px;
                margin: -20px 10px -20px -20px;
                border-radius: 50px;
                font-size: 110%;
            }
        #fin_entete {
            align-items: baseline;
            margin-bottom: 40px;
        }
            #fin_entete i {
            font-size: 2.3em;
            width: 70px;
            height: 50px;
            border-radius: 60px;
            margin-right: 20px;
        }
        #fin_entete p {
            font-size: 3.2em;
        }
}