/*Implementation of the article in the firt section*/
#section1 {
    width: 100%;
    display: flex;
    margin-top: 15px;
}
    #section1 p{
        font-size: 0.8em;
    }
#section1 article {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 62%;
    padding: 25px;
}
    #section1 h2 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    #liens_article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #section1 a {
        color: black;
        text-decoration: none;
    }
    article a {
        width: 30%;
    }
        .heb {
            background-color: white;
            border-radius: 20px;
            margin-bottom: 25px;
            width: 100%;
            height: 150px;
            padding: 5px;
        }
            .heb img {
                width: 100%;
                height: 60%;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
        .heb h3, .heb p, .heb .star1 {
            margin-top: 3px;
            margin-left: 5px;
            margin-bottom: 0px;
        }
        #liens_article + p {
            margin: 0px;
            font-weight: bold;
            font-size: 1em;
        }
/*Implementation of the aside of the first section*/
#section1 aside {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 30%;
    padding: 25px 25px 0px 25px;
    margin-left: 25px;
}
    #titre_aside_s1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
        #titre_aside_s1 h2 {
            margin: 0px;
        }
        #titre_aside_s1 i {
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            font-size: 170%;
        }
    #liens_aside_s1 {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .popu {
            width: 100%;
            height: 100px;  
            background-color: white;
            border-radius: 20px;
            display: flex;
        }
            .popu img {
                width: 35%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 0px 0px 20px;
            }
                .popu img + div {
                    padding: 10px;
                }
                .popu h3, .popu p {
                    margin-top: 2px;
                    margin-bottom: 0px;
                }
                .popu .star2 {
                    margin-top: 20px;
                    margin-bottom: 0px;
                }

/*Implementation of tablet version for device between 992px and 768px*/
@media all and (max-width: 991px) and (min-width: 768px){
    #section1 {
        flex-direction: column-reverse;
    }
    #section1 p {
        font-size: 1.1em;
    }
        #section1 aside {
            width: 90%;
            height: 250px;
            margin-left: 0px;
        }
            #liens_aside_s1 {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 100%;
                width: 100%;
            }
            #liens_aside_s1 a {
                width: 30%;
                height: 180px;
            }
            .popu {
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 5px;
            }
                .popu img {
                    width: 100%;
                    height: 60%;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                }
                .popu .star2 {
                    margin-top: 2px;
                }
                .popu img + div {
                    padding: 2px 0px 0px 4px;
                }
        #section1 article {
            width: 90%;
            margin-top: 25px;
        }
        #liens_article {
            justify-content: space-around;
            margin: auto;
        }
        #section1 a {
            width: 30%;
        }
            .heb {
                width: 100%;
                height: 180px;
            }
}
/*Implementation of device version for device smaller than 768px*/
@media all and (max-width:767px) {
    #section1 {
        flex-direction: column-reverse;
    }
    #section1 p {
        font-size:1.2em;
    }
    #section1 aside {
        border-radius: 0px;
        height: auto;
        width: 80%;
        margin: auto;
        padding-bottom: 25px;
    }
        #titre_aside_s1 {
            margin-bottom: 25px;
        }
        #titre_aside_s1 i {
            border-left: 3px solid black;
            border-bottom: 3px solid black;
            font-size: 125%;
        }
        #liens_aside_s1 {
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
        } 
        #liens_aside_s1 a {
            margin-bottom: 10px;
            margin-top: 0px;
        }
            .popu {
                position: relative;
                height: 150px;
                padding: 4px;
                flex-direction: row;
                margin-left: -6px;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
            }
                .popu img {
                    width: 40%;
                    height: 100%;
                    border-radius: 15px 0px 0px 15px;
                }
                .popu img + div {
                    padding: 20px;
                }
               .popu h3, .popu p {
                   margin: 0px 0px 5px 0px;
               }
               .popu .star2 {
                    position: absolute;
                    bottom: 10%;
                    font-size: 100%;
                    margin: 0px;
               }
    #section1 article {
        background-color: white;
        margin-top: 15px;
        width: 83%;
        margin: auto;
    }
        #liens_article {
            flex-direction: column;
            margin-top: 20px;
        }
        #section1 a {
            width: 100%;
        }
            .heb {
                width: 100%;
                height: 200px;
                border: 2px solid #F2F2F2;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
                padding: 5px;
            }
                .star1 {
                    font-size: 100%;
                }
                .heb .star1 {
                    margin-top: 8px;
                }
        #liens_article + p {
            font-size: 1.5em;
            margin-top: 20px;
        }
}