/*Implementation of the desktop version for basic option*/
#main {
    width: auto;
    font-family: 'Raleway',serif;
    margin: auto;
    font-size: 0.8em;
    padding: 10px;
}
h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1em;
}
.prix {
    font-weight: bold;
}
p {
    font-size: 0.9em;
}
.star-blue {
    color: #0065FC;
}
.star-grey {
    color: #BBC3C4;
}

/*Implementation of tablet version for device between 992px and 768px*/
@media all and (max-width: 991px) and (min-width: 768px){
    #main{
        width: auto;
        margin-left: 25px;
    }
    p{
        font-size: 1em;
    }
}
/*Implementation of device version for device smaller than 768px*/
@media all and (max-width:767px) {
    #main {
        width: auto;
        margin:auto;
    }
    h1 {
        font-size:1.8em;
        margin-left: 10px;
        width: 90%;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
 
}